*discard
*.psd
coverage/*
*.*BAK
**/coverage/*
dist/*
.vscode/*

*.ai
.DS_Store
.idea/*.*
.tscache
*.swp
.vscode/settings.json

node_modules/*

########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

*.rdb

########################
# Python / Django
########################
bin/
*.pyc
*.pyo
.Python
env/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
dump.rdb
jsconfig.json
*.swp

########################
# local config
########################
config/session.js
launch.json
